.AboutFacilities {
    padding: 2rem;
    background-color: #222;
    margin-bottom: 4rem;

    &__title {
        text-align: center;

        h5 {
            font-family: 'Archivo', sans-serif;
            font-weight: 700;
            font-size: 0.857rem;
            line-height: 0.951875rem;
            letter-spacing: 0.175rem;
            color: #C2C2C2;
            margin-bottom: 2rem;
        }

        h2 {
            margin-bottom: 2rem;
            font-family: 'Old Standard TT', sans-serif;
            font-weight: 400;
            font-size: 3.5rem;
            line-height: 3.75rem;
            letter-spacing: - 0.075rem;
            color: #fff;
        }
    }

    &__swiper {
        // padding: 4rem 12rem;
        max-width: 73.125rem;
        margin: 0 auto;
        margin-bottom: 2rem;

        .swiper-pagination-bullet {
            background: #D8D8D8;
        }

        &__item {
            padding: 2rem;
            cursor: pointer;
            border-radius: .2rem;
            margin: 4rem 0;
            background-color: #292929;

            &__title {
                display: flex;
                justify-content: space-between;

                h2 {
                    font-size: 7.5rem;
                    font-weight: 700;
                    font-family: 'Archivo', sans-serif;
                    color: #222222;
                    transform: translateY(-35%);
                }
            }

            h4 {
                font-family: 'Old Standard TT', sans-serif;
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: -0.07rem;
                color: #fff;
                font-weight: 400;
            }

            p {
                margin-top: 1rem;
                font-family: 'Archivo', sans-serif;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.6rem;
                color: #fff;
            }

            &:hover {
                transform: scale(1.02);
                box-shadow: .1rem .1rem .3rem #b1afafb3;
            }
        }
    }
}

@media screen and (min-width: 580px) {
    .AboutFacilities {
        &__swiper {
            width: 70%;
        }
    }
}

// @media screen and (min-width: 760px) {
//     .AboutFacilities {
//         &__swiper {
//             width: 50%;
//         }
//     }
// }

// @media screen and (min-width: 1000px) {
//     .AboutFacilities {

//         &__swiper {
//             width: 70%;
//         }
//     }
// }

// @media screen and (min-width: 1600px) {
//     .AboutFacilities {
//         &__swiper {
//             width: 50%;
//         }
//     }
// }