.RoomCancellation {
    max-width: 73.125rem;
    margin: 0 auto;

    &__text {
        padding: 2rem;
        max-width: 48.125rem;

        h2 {
            font-family: 'Old Standard TT', sans-serif;
            font-weight: 400;
            font-size: 1.875rem;
            line-height: 1.875rem;
            color: #222;
            padding-bottom: 1rem;
            border-bottom: 0.0625rem solid #F1F1F1;
            margin-bottom: 2rem;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: #777;
        }
    }

}