.footer {
    padding-top: 2rem;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/assets/Img/background-img.png");

    &__sections {
        max-width: 1170px;
        margin: 0 auto;
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;

        &__left {
            padding: 1rem;

            &__title {
                display: flex;
                align-items: center;
                padding-bottom: 2rem;

                h2 {
                    width: 5rem;
                    height: 5rem;
                    padding: 1rem;
                    text-align: center;
                    background-color: #BEAD8E;
                    color: #FFF;
                    font-family: 'Archivo', sans-serif;
                    font-weight: 700;
                    font-size: 3rem;
                    line-height: 3.2rem;
                }

                h3 {
                    font-size: 2rem;
                    font-family: 'Archivo', sans-serif;
                    font-weight: 400;
                    letter-spacing: .1rem;
                    color: #111;
                    padding-left: 2rem;
                }
            }

            &__text {
                font-family: 'Archivo', sans-serif;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 400;
                color: #777;
                margin-bottom: 2rem;
            }

            &__media {
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    padding: .5rem;

                    &:hover {
                        background-color: #BEAD8E;

                        path {
                            fill: #FFF
                        }
                    }
                }
            }
        }

        &__right {
            padding: 1rem;

            h2 {
                padding-bottom: 1rem;
                font-family: 'Old Standard TT', sans-serif;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.5rem;
            }

            &__item {

                display: flex;
                padding: 1rem 1rem 1rem 0;


                &__number {
                    padding-left: 1.5rem;

                    h3 {
                        color: #222;
                        font-family: 'Old Standard TT', sans-serif;
                        font-weight: 400;
                    }

                    h4 {
                        color: #777;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                    }
                }
            }
        }

        &__center {
            padding: 1rem;

            h2 {
                font-family: 'Old Standard TT', sans-serif;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.5rem;
                color: #222;
            }

            &__columns {
                padding-top: 1rem;
                display: flex;
                justify-content: space-between;
            }

            li {
                list-style: none;
                font-family: 'Roboto', sans-serif;
                color: #777;
                font-size: 1rem;
                line-height: 3rem;
                font-weight: 400;
            }
        }
    }

    &__bottom {
        background-color: #FFF;

        margin: 0 auto;
        width: 100%;
        padding: 1rem 1.5rem;

        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.2rem;
            color: #222;
            padding: .5rem;
        }
    }

    .section-footer {
        max-width: 1170px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}


@media screen and (min-width: 1000px) {
    .footer {
        &__sections {
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
        }

        &__center,
        &__left,
        &__right {
            padding: 2rem;
        }

        .section-footer {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}