.RoomsGridSection {
    padding: 1rem;
    max-width: 73.125rem;
    margin: 0 auto;

    .swiper {
        position: relative;
    }

    &__swiper {
        .swiper-wrapper {
            margin-bottom: 8rem;
            height: auto;
        }

        // .swiper-pagination {
        //     transform: translateY(2rem);
        // }

        .swiper-pagination-bullet {
            width: 2rem;
            height: 2rem;
            text-align: center;
            line-height: 2rem;
            font-size: 1rem;
            color: #000;
            opacity: 1;
            background: transparent;
            border-radius: 0;
        }

        .swiper-pagination-bullet-active {
            color: #fff;
            background: #BEAD8E;
        }

        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            bottom: 0.25%;
            top: auto;
            margin-top: 2rem;
            height: auto;

            &:after {
                color: #000;
                font-size: 1rem;
                line-height: 2rem;
            }
        }

        .swiper-slide {
            margin-bottom: 2rem;

            img {
                width: 100%;
                height: auto;
            }
        }

        &__icons {
            padding: 1.2rem;
            display: flex;
            justify-content: space-around;
            width: 80%;
            margin: 0 auto;
            transform: translateY(-2rem);
            background-color: #fff;
            z-index: 2;
            box-shadow: 0 0.5rem 1rem 0 #8A8A8A0D;

            svg {
                transform: scale(1.2);
            }
        }

        &__text {
            text-align: center;

            h3 {
                font-family: 'Old Standard TT', sans-serif;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.5rem;
                letter-spacing: -0.02rem;
                color: #222;
                margin-bottom: 1rem;
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-size: 0.9rem;
                line-height: 1.5rem;
                font-weight: 400;
                color: #777;
                padding: 0 2rem;
                margin-bottom: 1rem;
            }

            &__price {
                display: flex;
                font-family: 'Archivo', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                line-height: 1.1rem;
                justify-content: center;
                margin-bottom: 2rem;

                h4 {
                    color: #BEAD8E;
                    padding-right: 1rem;
                }

                h5 {
                    padding-left: 1rem;
                    font-size: 1rem;
                    line-height: 1.1rem;

                    a {
                        text-decoration: none;
                        color: #BDBDBD;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .RoomsGridSection {
        &__swiper {
            &__icons {
                svg {
                    transform: scale(1.6);
                }
            }

            .swiper-button-next {
                right: 35%;
                bottom: 0.75%;
            }

            .swiper-button-prev {
                left: 35%;
                bottom: 0.75%;
            }

            &__text {
                &__price {
                    h5 {
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}