.OffersPopular {
    padding: 2rem 1rem;
    margin-bottom: 4rem;

    &__title {
        margin-bottom: 2rem;
        text-align: center;

        h5 {
            font-family: 'Archivo', sans-serif;
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 0.951875rem;
            color: #BDAC8D;
            letter-spacing: 0.175rem;
            margin-bottom: 1rem;
        }

        h2 {
            font-family: 'Old Standard TT', sans-serif;
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 3rem;
            letter-spacing: -0.05rem;
            margin-bottom: 1rem;
            color: #fff;
        }
    }

    &__slider {
        max-width: 73.125rem;
        margin: 0 auto;

        .swiper-wrapper {
            margin-bottom: 4rem;
            height: auto;
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: #fff;
            background-color: #BDAC8D;
            height: 2rem;
            width: 2rem;
            transform: translateY(-8rem);
            z-index: 2;

            &::after {
                font-size: .8rem;
            }
        }

        .swiper-slide {
            background-color: #fff;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        &__icons {
            padding: 1rem;
            display: flex;
            justify-content: space-around;
            width: 80%;
            margin: 0 auto;
            transform: translateY(-2rem);
            background-color: #fff;
            z-index: 2;
            box-shadow: 0 0.5rem 1rem 0 #8A8A8A0D;
        }

        &__text {
            text-align: center;

            h3 {
                font-family: 'Old Standard TT', sans-serif;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.5rem;
                letter-spacing: -0.045rem;
                color: #222;
                margin-bottom: 1rem;
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-size: 0.875rem;
                line-height: 1.5rem;
                font-weight: 400;
                color: #777;
                padding: 0 2rem;
                margin-bottom: 1rem;
            }

            &__price {
                display: flex;
                font-family: 'Archivo', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                line-height: 1.088125rem;
                justify-content: center;
                margin-bottom: 2rem;

                h4 {
                    color: #BEAD8E;
                    padding-right: 1rem;
                }

                h5 {
                    color: #BDBDBD;
                    padding-left: 1rem;

                    a {
                        text-decoration: none;
                        color: #BDBDBD;
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
}

.popularDark {
    background-color: #222;
}

@media screen and (min-width: 1000px) {
    .OffersPopular {
        &__slider {
            width: 100%;

            // .swiper-button-prev,
            // .swiper-button-next {
            //     display: none;
            // }

            &__icons {
                padding: 1.2rem;

                svg {
                    transform: scale(1.2);
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .OffersPopular {
        &__slider {
            width: 80%;

            &__icons {
                svg {
                    transform: scale(1.6);
                }
            }
        }
    }
}