.imagesSection {
    max-width: 73.125rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;

    &__swiper {

        .swiper-wrapper {
            margin: 4rem 0;
        }

        &__item {
            text-align: center;

            img {
                width: 100%;
                height: 60vh;
                object-fit: cover;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .imagesSection {
        padding: 0;

        &__swiper {
            &__item {
                img {
                    height: 30vh;
                }
            }
        }
    }
}